@model IEnumerable<MvcFriendApplication.Models.FriendModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.DisplayNameFor(model => model.FriendID)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FriendName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th></th>
    </tr>

@if (Model != null){

    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FriendID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FriendName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FriendID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FriendID })
        </td>
    </tr>
    }
}
</table>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
