@model IEnumerable<MvcFriendApplication.Models.FriendModel>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/CustomStyles.css" />
<script src="~/JS/FriendData.js"></script>
<h2>Index</h2>
<a href="#" class="btn btn-info" onclick="AddNewFriend()">Add New Friend</a> <br /><br />
<a href="#" class="btn btn-info" onclick="LoadFriends()">Show Friend List</a> <br /><br />
<div id="friendsDiv">
    <table id="tblfriends" class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FriendID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FriendName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
            </th>
        </tr>
        <tbody id="tbfriends">

        </tbody>
    </table>
</div>

<div id="createDiv" class="form-horizontal">
    @Html.Partial("InsertNewFriend")
</div>
<div id="editDiv">
    @Html.Partial("Edit")
</div>
<div id="deleteDiv">
    @Html.Partial("Delete")
</div>

